<h1>User Profile</h1>
<h2><%= @user.name %></h2>
<h3>Parties Thrown</h3>
<ul>
  <% @user.hosted_parties.each do |party| %>
    <li><%= link_to party.name, party_path(party) %></li>
  <%end%>
</ul>

<h3><%= link_to "Parties Attended/Attending", user_attended_parties_path(@user)%></h3>
<h3><%= link_to "Dishes Brought", user_dishes_path(@user)%></h3>
